In [2]:
import pandas as pd

In [3]:
# data = pd.read_csv("../Data/Queries_IT.csv")
data = pd.DataFrame(pd.read_csv("../Data/Queries_IT.csv")["Query"].unique().tolist(), columns=["Query"])
data["Prompt Type"] = ["General"]*len(data)
data["QID"] = ["qGEN"+str(i) for i in range(1, len(data)+1)]

queries_emo = pd.read_csv("../Data/QL_IT_Emotion_oct_exp_on_results-query.csv")
data_emo = pd.DataFrame(queries_emo["user_query"].unique().tolist(), columns=["Query"])
data_emo["Prompt Type"] = ["Emotionally Charged"]*len(data_emo)
data_emo["Task Sentiment"] = [queries_emo.loc[queries_emo["user_query"]==query]["target"].tolist()[0] for query in data_emo["Query"]]
data_emo["QID"] = ["qEM"+str(i) for i in range(1, len(data_emo)+1)]
len(data), len(data_emo)

(110, 66)

In [4]:
data_comb = pd.concat([data, data_emo])
data_comb = data_comb.loc[:,["QID", "Query", "Prompt Type", "Task Sentiment"]]
data_comb

,QID,Query,Prompt Type,Task Sentiment
0,qGEN1,Chi era il padre di Micerino ?,General,NaN
1,qGEN2,Il figlio di Chefren,General,NaN
2,qGEN3,Il padre di Micerino,General,NaN
3,qGEN4,Micerino,General,NaN
4,qGEN5,Quanto e alta la tomba di Cheope?,General,NaN
...,...,...,...,...
61,qEM62,Di cosa si occupa il WWF?,Emotionally Charged,Good
62,qEM63,Cosa Ã¨ Ocean Cleanup ?,Emotionally Charged,Good
63,qEM64,Quali sono le regole per tenere le spiagge pul...,Emotionally Charged,Good
64,qEM65,Di cosa si occupa la WWF,Emotionally Charged,Good
65,qEM66,Cosa Ã¨ ocean cleanup?,Emotionally Charged,Good

In [5]:
data_comb.to_csv("../Data/SIGIR_queries_IT.csv", index=False)

## ECIR-IR4Good

In [3]:
data["Source"].unique()

array(['IT-GUI', 'IT-Wizard', 'IT-Suggeritti', 'IT-Bambini'], dtype=object)

In [3]:
data_new = data.drop_duplicates(["Query"])
data_new

                                   Query      Source
0         Chi era il padre di Micerino ?      IT-GUI
1                   Il figlio di Chefren      IT-GUI
2                   Il padre di Micerino      IT-GUI
3                               Micerino      IT-GUI
4      Quanto e alta la tomba di Cheope?      IT-GUI
..                                   ...         ...
164         tornado velocita mostro nero  IT-Bambini
170                     velocita tornado  IT-Bambini
172  vulcani tipologia di eruzioni danni  IT-Bambini
174                vulcano attivo antico  IT-Bambini
178           vulcano piÃ¹ antico attivo  IT-Bambini

[110 rows x 2 columns]

In [4]:
data_new.to_csv("../Data/Queries_IT_final.csv", index=False)

In [16]:
import spacy
import re

final_queries = pd.read_csv("../Data/Queries_IT_final.csv")
query_len = []
for query in final_queries["Query"]:
    query_text = re.sub("\?", "", query).strip()
    query_len.append(len(query_text.split(" ")))

final_queries["query_len"] = query_len
final_queries.to_csv("../Data/Queries_IT_final.csv", index=False)
final_queries.head()

                               Query  Source  query_len
0     Chi era il padre di Micerino ?  IT-GUI          6
1               Il figlio di Chefren  IT-GUI          4
2               Il padre di Micerino  IT-GUI          4
3                           Micerino  IT-GUI          1
4  Quanto e alta la tomba di Cheope?  IT-GUI          7

In [2]:
import pandas as pd

search_type_list = []
topic_list = []

final_queries = pd.read_csv("../Data/Queries_IT_final.csv")
for _, row in final_queries.iterrows():
    search_type = row["search_type"]
    topic = row["topic"]
    if search_type!=None:
        search_type_list.append(search_type.strip())
    else:
        search_type_list.append("unknown")
    if topic == None:
        topic_list.append("unknown")
    else:
        if topic == "tornados":
            topic_list.append("tornado")
        else:
            topic_list.append(topic)

final_queries["search_type"] = search_type_list
final_queries["topic"] = topic_list
final_queries.to_csv("../Data/Queries_IT_final.csv", index=False)
final_queries

,query,source,query_len,topic,search_type
0,Chi era il padre di Micerino ?,IT-GUI,6,history,multisteps
1,Il figlio di Chefren,IT-GUI,4,history,multisteps
2,Il padre di Micerino,IT-GUI,4,history,multisteps
3,Micerino,IT-GUI,1,history,multisteps
4,Quanto e alta la tomba di Cheope?,IT-GUI,7,history,fact
...,...,...,...,...,...
105,tornado velocita mostro nero,IT-Bambini,4,tornado,multisteps
106,velocita tornado,IT-Bambini,2,tornado,fact
107,vulcani tipologia di eruzioni danni,IT-Bambini,5,volcanos,multisteps
108,vulcano attivo antico,IT-Bambini,3,volcanos,fact
109,vulcano piÃ¹ antico attivo,IT-Bambini,4,volcanos,fact